<div class="individual-card">
    <div class="individual-card-img" style="background-image:url(imgs/library/<%= log.img1 %>); background-size: cover; background-repeat: no-repeat">
    <!-- <img src="imgs/library/<%= log.img1 %>"> -->
        </div>
        <ul>
            <li><span class=" text-gray4">Date:</span> <%= log.date.toLocaleDateString() %></li>
            <li><span class="text-gray4">Name:</span> <%= log.name %></li>
            <li class="details"><a href="library/<%= log._id %>">Details</a></li>
            <div class="individual-card-button-container"><li class="edit"><button><a href="library/edit/<%= log._id %>">Edit</button></a></li>
            <form action="/library/<%= log._id %>?_method=DELETE" method="POST"><button class="delete">Delete</button></form>
        </div>
        </ul>
    </div>