<div class="individual-card hide">
<div class="individual-card-img">
    <!-- <img src="imgs/library/<%= log.img1 %>"> -->
        </div>
        <ul>
            <li>Name: <%= log.id_name %></li>
            <li>Type: <%= log.classification %></li>
            <li class="details"><a href="library/<%= log._id %>">Details</a></li>
            <li class="edit"><a href="/edit/<%= log._id %>">Edit</a></li>
        </ul>
    </div>