<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
<div class="details-img-container"><img src="../imgs/library/<%= log.img1 %>" class="log-details-img"></div>
            <ul class="details-page">
                <li><span class="details-li">Date:</span>&nbsp;<%= log.date.toLocaleDateString() %></li>
                <li><span class="details-li">Name:</span>&nbsp;<%= log.name %></li>
                <li><span class="details-li">Location:</span>&nbsp;<%= log.location %></li>
                <li><span class="details-li">Classification:</span>&nbsp;<%= log.classification %></li>
                <li><span class="details-li">Notes:</span>&nbsp;<%= log.notes %></li>
            <div class="details-button"><button><a href="./edit/<%= log._id %>">Edit</a></button>
    <form action="./<%= log._id %>?_method=DELETE" method="POST"><button>Delete</button></div>
<%- include ('../partials/footer') -%>