<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
        <div class="library-sort">
            <h6>Filter:</h6>
            <!-- <select id="sort" name="sort">
                <option value="date">Date</option>
                <option value="type">Type</option>
                <option value="location">Location</option>
                </optgroup>
            </select> -->
            <select id="subSort" name="subSort">
                <option value="season">Season</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="fall">Fall</option>
                <option value="winter">Winter</option>
            </select>
            <h6><a href="./map_view">Map View</a></h6>
            <!-- <div class="showAll"><input type="checkbox" id=showall name=showall><label for="showall">Show all</label>
            </div> -->
        </div>
        <div class="library-container">
            <div id="map2"></div>
            <div class="observations">
                <ul>
                    <li> <i class="fas fa-chevron-down"></i></li>
                    <li>Date: 4/19/2021 </li>
                    <li><i class="fas fa-grip-lines-vertical"></i></li>
                    <!-- <li> Species</li> -->
                    <li>Location: Ames Nowell State Forest</li>
                </ul>
                <div class="imgs">
                    <% for (log of data) { %>
                        <%- include('../partials/logcard', { log: log }) -%>
                        <% } %>
                </div>
                <ul>
                    <li> <i class="fas fa-chevron-down"></i></li>
                    <li>Date: 4/19/2021 </li>
                    <li><i class="fas fa-grip-lines-vertical"></i></li>
                    <!-- <li> Species</li> -->
                    <li>Location: Ames Nowell State Forest</li>
                </ul>
            </div>
            <!-- <div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/eveningprimrose.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/lesserceladine.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/ramps.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/reddeadnettle.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/reishi.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/turkeytail.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div> -->
        </div>
    </div>
    <script>
                let img = document.querySelectorAll(".individual-card");
        let carrot = document.querySelector(".fa-chevron-down")

        
        const showHide = function(e) {
            for (let i = 0; i < img.length; i++)
            img[i].classList.toggle("show")
            e.stopPropagation()
        }
        
        carrot.addEventListener("click", showHide);


    </script>
    <script>
let map, marker;
let data = <%- JSON.stringify(data) %>;
function initMap() {
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
            // current location of the user
            currentPosition = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
            } 
    // Set static latitude, longitude value
    const latlng = new google.maps.LatLng(currentPosition);
    // Set map options
    const myOptions = {
    zoom: 10,
    center: latlng
    }
    map = new google.maps.Map(
        document.getElementById('map2'), {zoom: 10, center: latlng});
    for (log of data) {
        log.latitude = Number(log.latitude);
        log.longitude = Number(log.longitude);

        const object = {lat: log.latitude, lng: log.longitude};
        marker = new google.maps.Marker({position: object, map: map});
    }
    })
}
}
    </script>
    <script src= "<%= mapsAPI %>" async></script>
</body>

</html>