<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
        <div class="library-sort">
            <h6>Filter:</h6>
<!-- Clicking the submit button sends a get request with form data from the dropdown selection OPTION VALUE, which populates the query string in the URL. The request.query data is anything beyond the "?" in the URL. query.subSort contains the OPTION VALUE data and passes it to the back end -->
            <form action="/library_search" method="GET">
                <select id="subSort" name="subSort">
                    <option value="all" <%if (query === "all"){%>
                        <%="selected"%>
                    <%}%>>All</option>
                    <option value="spring" <%if (query === "spring"){%>
                        <%="selected"%>
                    <%}%>>Spring</option>
                    <option value="summer" <%if (query === "summer"){%>
                        <%="selected"%>
                    <%}%>>Summer</option>
                    <option value="autumn" <%if (query === "autumn"){%>
                        <%="selected"%>
                    <%}%>>Fall</option>
                    <option value="winter" <%if (query === "winter"){%>
                        <%="selected"%>
                    <%}%>>Winter</option>
                </select>
            <button type="submit">Search</button>
        </form>
        <h6 class="flex-right">  <% if (query === "spring") { %>
            <a href="/library/map_search?subSort=spring">
        <% } else if (query === "summer") { %>
            <a href="/library/map_search?subSort=summer">
        <% } else if (query === "autumn") { %>
            <a href="/library/map_search?subSort=autumn">
        <% } else if (query === "winter") { %>
            <a href="/library/map_search?subSort=winter">
        <% } else { %> 
            <a href="./map_view">
            <% } %> <div class="map-view"><span class="link-highlight">Map View</span></div></a></h6>
        </div>
                <div class="imgs">
                    <% if (data[0]) { %>
                        <% for (log of data) { %>
                            <%- include ('../partials/logcard', { log: log})  -%>
                            <%  } %>
                        <% } else { %>
                            <div class="library-else"><h5 class="center">Looks like you haven't created any entries yet!</h5>
                            <a href="/library/new"><button class="library-button">Create a log!</button></a>
                            <% } %>
                </div>
<%- include ('../partials/footer') -%>