<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Notes</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/6c117c7d34.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" defer></script>
</head>
<body class="primary">
<%- include ('../partials/navloggedin') -%>
<div class="library-sort"><h6>Filter:</h6>
<form action="/library/map_search" method="GET">
<select id="subSort" name="subSort">
    <option value="all" <%if (query === "all"){%>
        <%="selected"%>
    <%}%>>All</option>
    <option value="spring" <%if (query === "spring"){%>
        <%="selected"%>
    <%}%>>Spring</option>
    <option value="summer" <%if (query === "summer"){%>
        <%="selected"%>
    <%}%>>Summer</option>
    <option value="fall" <%if (query === "fall"){%>
        <%="selected"%>
    <%}%>>Fall</option>
    <option value="winter" <%if (query === "winter"){%>
        <%="selected"%>
    <%}%>>Winter</option>
</select>
<button type="submit">Search</button>
</form>
<h6 class="flex-right"><a href="/library"><span class="link-highlight">List View</span></a></h6>
</div>
        <div id="map2"></div>
<script src="<%= mapsAPI %>" async ></script>
<!-- maps script -->
        <script>
            let locations = []
            let data = <%- JSON.stringify(data) %>;

        function initMap() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
            // current location of the user
            currentPosition = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
            }


        let userCurrentlatlng = new google.maps.LatLng(currentPosition);
        
        const myOptions = {
            center: userCurrentlatlng,
            zoom: 7,
            streetViewControl: false,
            mapTypeControl: false,
          };
          const map = new google.maps.Map(document.getElementById("map2"),
              myOptions);
      
          setMarkers(map,locations)
        })
    }
      
      
      
        function setMarkers(map,locations){
      
        let marker, i;
      
      for (i = 0; i < data.length; i++)
       {  
    // sorts out entries without coordinates
    if (data[i].coords) {         
    locations.push(data[i].coords);
            }
    
       const lat = data[i].coords[0]
       const long = data[i].coords[1]
      
       latlngset = new google.maps.LatLng(lat, long);
      
        marker = new google.maps.Marker({  
                map: map, position: latlngset  
              });
        
        let year = data[i].date.slice(0,4);
        let month = data[i].date.slice(5,7);
        let day = data[i].date.slice(8,10)
        let date = `${month}/${day}/${year}`
      
      let content = 
      `<h4 class="infowindow center">Name: ${data[i].name}</h4><h4 class="infowindow center">Date: ${date} </h4><h4 class="infowindow center"><a style="color: black; text-decoration: underline" href="/library/${data[i]._id}">Details</a></h4>`
    
    
        const infowindow = new google.maps.InfoWindow()
      
      google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
              return function() {
                 infowindow.setContent(content);
                 infowindow.open(map,marker);
              };
          })(marker,content,infowindow)); 
      
        }
        }
}
        </script>
        <script></script>
</body>
</html>

<!-- add event listener to each drop down option -->
<!-- spring: if (month >= 1 && month < 4 ) { } -->
    <!-- when you click season, the set markers function applies to each date range -->